<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IL2Service"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IL2Service"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.30.219.110:9092/NSNEL2Server" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IL2Service" contract="NSNEL2Server.IL2Service" name="BasicHttpBinding_IL2Service"/>
      <endpoint address="net.tcp://10.30.219.110:9998/NSNEL2Server" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IL2Service" contract="NSNEL2Server.IL2Service" name="NetTcpBinding_IL2Service">
        <identity>
          <userPrincipalName value="nsne.opc@bar.nucorsteel.local"/>
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="NSNEL2Server.L2Service" behaviorConfiguration="mexBehavior">
        <endpoint address="NSNEL2Server" binding="basicHttpBinding" contract="NSNEL2Server.IL2Service"></endpoint>
        <endpoint address="NSNEL2Server" binding="netTcpBinding" contract="NSNEL2Server.IL2Service"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://10.30.219.110:9092/"/>
            <add baseAddress="net.tcp://10.30.219.110:9998/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
